*{
    margin: auto;
    padding: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

header{
    background-image: url(./hero_1.jpg);
    background-size: cover;
    height: 700px;
    text-align: center;

}
.contianrt{
    height: 700px;
    background-color: rgba(0, 0, 0, 0.664);
}
nav .toggle_btn{
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 3rem;
    top: 60px;
    height: 0;
    width: 85%;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.744);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.dropdown_menu li a:hover{
   color: #30e3ca;
   transition: 1000ms;
}
.dropdown_menu.open{
    height: auto;

}
.dropdown_menu li,.dropdown_menu button {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list ul{
    display: flex;  
}
ul{
    list-style: none;
}
.logoNavBar a{
    color: #000;
    text-decoration: none;
}
ul li a {
    font-size: 20px;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
span{
    color: #30e3ca;
}
hr{
    border:#30e3cb81 solid 0.1px;
    height: 30px;
}
.list ul li :hover{
    color:#30e3ca;
    transition:1000ms;   
}
.list button{
    background-color: #30e3ca;
    text-decoration: none;
    border-radius: 5px;
    width:170px;
    height: 60px;
}
.list button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;


}
.textHeader h1{
    color:#fff;
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 50px;
}
.textHeader p{
    color: #ffffffa9;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 40px;
}
 nav{
    display: flex;
    justify-content: space-between;
    height: 80px;border-radius: 7px;
    width: 85%;
    background-color: #fff;
   
}




.featuredAds{
    width: 85%;
    margin-top: 70px;  
}
.featuredAds hr{
    background-color: #30e3ca;
    width: 100px;
    height: 2px;
    margin: 5px;
    margin-bottom: 50px
}
.featuredAds h1{
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: lighter;
    color: #30e3ca;
}
.cards{
    display: flex;
    gap: 40px;
}
.card{
    width: 25%;
    padding-bottom: 30px;
}
.card img {
    width: 100%;
}

.Reviews h2{
    padding: 20px 0px;
    font-size: 30px;
    color: #0000008c;
}
.Reviews span{
    font-size: 20px;
}
p {
    line-height: 35px;
    color: #0000007c;
    font-size: 25px;
    padding: 10px 0px;
    margin-top: 10px;
}

.continerTwo{
    width: 83%;
    justify-content: center;
    display: flex;
    gap: 100px;
    margin: 100px auto;
}
.imgTwo , .TextTwo{
    width: 50%;
}
.imgTwo img{
    width: 100%;
    margin: 100px auto;
}
.TextTwo span{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.IconTwo{
    display: flex;
    margin: 0;
}
.IconTwo i{
    color: #30e3ca;
    font-size: 25px;
    margin: 0;
    padding: 15px ;
}
.IconTwo p {
    margin: 0;
    padding: 10px 30px;
}

.email{
    background-color: #30e3ca;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 ;
    color: #fff;
    line-height: 40px;
}
.emailtext ,.emailInput{
    width: 30%;

}
.emailtext p{
    font-size: 20px;
}

.emailInput input{
    height: 50px;
    color: #fff;
    width: 65%;
    border-bottom:1px solid #fff ;
    background-color: #30e3ca;
}
.emailInput button{
    height: 50px;
    font-size: 20px;
    width: 30%;
}
footer{
    background-color: rgba(2, 2, 19, 0.678);
}
.footerone{
    display: flex;
    line-height: 30px;
    padding: 150px 50px;
    gap: 20px;
}
.footerone h5{
    color:#fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.footerone h6 ,.footerone i{
    color:#ffffff90;
    font-size: 20px;
    margin-left: 20px;
}
footer hr{
    background-color:#ffffff90;
    width: 80%;
    height: 1px;
    border: none;
    margin-bottom: 30px;
} 
.about {
    width: 35%;
}
.navigation {
    width: 15%;
}
.follow{
    width: 20%;

}
.input{
    width: 25%;
    
}
.input input, .input button{
    color: #fff;
    font-size: 20px;
    height: 50px;
    border: 1px solid #ffffff90 ;
}
.input input{
    width: 65%;
    background-color:rgba(2, 2, 19, 0.678);
}
.input button{
    background-color: #30e3ca;
    width: 30%;
}
.follow .icon a{
    text-decoration: none;
}
.footertow p{
    text-align: center;
    color:#ffffff90;
    padding-bottom: 150px;
}
.footertow a{
    color:#fff;
    text-decoration: none;
}
@media (max-width:1300px) {
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: 40%;
    }
    .continerTwo{
        display: block;
    }
    .imgTwo , .TextTwo{
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    .nav .list{
        display: none;
    }
    .nav .toggle_btn{
        display: block;

    }
    .dropdown_menu{
        display: block;
    }
    .linkNavBar a ,.ProfileNavBar a{
        margin-left: 0px;
        font-size: 0px; 
    }
    .icon-menu{
        font-size: 20px;
    }
   
    .emailtext ,.emailInput{
        width: 100%;
        margin:0px 50px 1px;    
    }
    .footertow{
        font-size: 15px;
    }
    footer{
        height: auto;
    }
    .footerone{
        display: block;
        padding: 50px 15px;
    }
    .about,.navigation,.follow,.input{
        width: 100%;
        margin-bottom: 30px;
    }
    .cards{
        display: block;
    }
    .card{
        width: 90%;
        padding-bottom: 10px;
        margin-bottom: 100px;
    }
    .card img {
        height: 400px;
    }
 
    .email{
        background-color: #30e3ca;
        display: flex;
        height: 200px;
        color: #fff;
        line-height: 40px;
    }
}
